.headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: rgb(235, 236, 236);
}

.article-head{
    padding-left: 5rem;
    font-size: 5.5rem;
    word-spacing: 1rem;
    font-weight: 700;
    animation:  slideFromLeft 1s ease-out forwards;
}

@keyframes slideFromLeft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


.sub-head{
    padding-left: 5rem;
    animation:  slideFromLeft 1.4s ease-out forwards;
}
@keyframes slideFromLeft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.btn{
    margin-left: 5rem;
    text-decoration: none;
    background-color: rgb(125, 125, 125);
    padding: 0.8rem 1.8rem;
    color: #ffff;
    animation:  slideFromLeft 1s ease-out forwards;
}

@keyframes slideFromLeft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.btn:hover{
    background-color: rgb(244, 94, 94);
    color: #ffff;
}


.img-1{
    animation: pop 2s ease-out forwards;
}

@keyframes pop{
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* NEW Items */

.new-item{
    font-family: "Montserrat", sans-serif;
    padding-top: 5rem;
    text-align: center;
    font-weight: 800;
}

.image-wrapper{
    overflow: hidden;
    display: inline-block;
}

.image2 {
    display: block;
    transition: transform 0.3s ease;
}

.image-wrapper:hover .image2 {
  transform: scale(1.05);
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.sub-heading{
    margin-top:1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #8c8b8b;
    font-weight: 600;
}

.amount{
    text-align: center;
    color: rgb(238, 61, 61);
    font-weight: 700;
}

.image3{
    max-width: 100%;
    height: auto;
    display: block;
}

.image4{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1.8rem;
}

.modern-watch-img{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.image-wrapping{
    overflow: hidden;
    display: block;
    /* object-fit: cover;  */
}

.image3{
    transition: all 0.3s ease;
    display: block;
}

.image4{
    transition: all 0.3s ease;
    display: block;
}

.image-wrapping:hover .image3{
    transform: scale(1.1);
}

.image-wrapping:hover .image4{
    transform: scale(1.1);
}

.image3:hover{
    filter: brightness(70%);
}

.image4:hover{
    filter: brightness(70%);
}

.popular-items{
    text-align: center;
    margin-top: 10rem;
}

.h2{
    font-size: 3rem;
    font-weight: 700;
}
.sub-head-2{
    margin-bottom: 5rem;
}