.models{
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    align-items: center;
    place-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.image-container {
    position: relative;
    overflow: hidden;
}

.add-to-cart-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff3333;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 2;
}

.image-container:hover .add-to-cart-overlay {
    transform: translateY(0); /* Slide up to show */
}


.add-to-cart-overlay:hover {
    background-color: #e02929; /* Darker red on hover */
    color: white;
}

.model-1:hover .add-to-cart-overlay {
    transform: translateY(0);
}

.model-1 {
    position: relative;
}

.model-1 img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.model-1:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.model-1 h3, p{
    text-align: center;
}

.model-1 h3{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #9a9a9a;
}
.model-1 p{
    color: #ff3333;
    font-weight: 600;
}

.span::after{
    content: "";
    position: absolute;
    height: 0.2rem;
    width:23rem;
    background-color: #ff3333;
    top: 23.6rem;
}