{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="stylesheet" href="{% static 'css/watch_details.css' %}">
</head>
<body>
    <article>
        <div class="container-3">
            <div class="choices-1">
                <div class="content-1">
                    <h2 class="watch-details-head">Watch of Choice</h2>
                    <p class="watch-details-subhead">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <a href="#" class="more-items-2 button-2">Show Watches</a>
                </div>
                <div class="img-3">
                    <img src="{% static 'images/gallery/choce_watch1.png' %}" alt="choice_watch-1">
                </div>
            </div>
            <div class="choices-2">
                <div class="img-3">
                    <img src="{% static 'images/gallery/choce_watch2.png' %}" alt="choice_watch-2">
                </div>
               <div class="content-2">
                    <h2 class="watch-details-head-1">Watch of Choice</h2>
                    <p class="watch-details-subhead-2">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <a href="#" class="button-2 more-items-2">Show Watches</a>
                </div>
            </div>
        </div>
    </article>
</body>
</html>