{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/popular-watch.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
</head>
<body>
    <section class="watch-models">
        <div class="models">
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular1.png' %}" alt="model-1">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular2.png' %}" alt="model-2">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>   
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular3.png' %}" alt="model-3">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular4.png' %}" alt="model-4">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular5.png' %}" alt="model-5">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            <div class="model-1">
                <div class="image-container">
                    <img src="{% static 'images/gallery/popular6.png' %}" alt="model-6">
                    <a href="#" class="add-to-cart-overlay">Add to cart</a>
                    <span class="span"></span>
                </div>
                <h3>Thermo Ball Etip Gloves</h3>
                <p>$ 45,743</p>
            </div>
            
        </div>
        <button class="button"><a href="#" class="more-items">View More Products</a></button>
    </section>
</body>
</html>